<% if current_user %>
<%= link_to("Submit a new link", posts_new_path) %></br>
<% end %>

<h1>FORGEDDIT</h1>


<ul class="posts">
  <% @posts.each do |post| %>

      <li class="post">
        <%= link_to("Good", vote_path(post, score: 1), method: :post) %>
        <%= link_to("Bad", vote_path(post, score: -1), method: :post) %>
        (<%= post.votes.sum(:score) %> points)
        <%= link_to(post.title, post.link_url) %> 
        submitted <%= time_ago_in_words(post.created_at) %> by
         <%= post.user.username %> 
         <%=link_to("#{post.comments.count} Comments", posts_show_path(post)) %>
        <% if current_user %>
        <%= link_to("Edit", posts_edit_path(post)) %>
        <%= link_to("Delete", posts_delete_path(post), method: :delete) %>
        <% end %>


      </li>
  <% end %>
</ul>