<%=  form_tag(posts_path) do %>
    <div class="post-field">
        <%= label_tag("title") %> <br/>
        <%= text_field_tag("title", @post.title) %>
    </div>


    <div class="post-field">
        <%= label_tag("url") %> <br/>
        <%= url_field_tag("link_url", @post.link_url) %>
    </div>

    <%= button_tag("submit") %>
<% end %>